SECRET_KEY=''
DEBUG=
DB_ENGINE=''
DB_NAME=''
DB_USER=''
DB_PASSWORD=''
DB_PORT=
DB_HOST=

EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_USE_TLS=False
EMAIL_HOST='smtp4dev'
EMAIL_PORT=25

CELERY_BROKER_URL='redis://redis:6379/0'
CELERY_RESULT_BACKEND='redis://redis:6379/0'